.mainNav ul{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.mainNav ul {
    list-style: none;
}
.mainNav li{
color: var(--color-pink-400);
font-weight: bold;
font-size: large;
text-decoration: none;
}
.mainNav a{
    text-decoration: none;
}
.mainNav a.active,.mainNav a:hover{
color: var(--color-pink-700);
text-decoration: underline;
}