.recipesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
}
.recipesContainer a {
  display: block;
  width: fit-content;
  text-decoration: none;
  background: white;
}

@media screen and (max-width: 767px) {
    /* Styles for mobile */
    .recipesContainer {
        display: grid;
        grid-template-columns: none;
        row-gap: 25px;
        justify-content: center;
      }
      

  }
  
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for tablets */
  }
  
  /* Desktop */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for desktop */
    .recipesContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 25px;
        justify-content: center;
      }
      
  }
  
  /* Large Desktop */
  @media screen and (min-width: 1200px) {
    /* Styles for large desktop */
  }
  