.itemContainer {
    border: 1px solid #ccc; 
    border-radius: 8px;
    overflow: hidden; 
    transition: box-shadow 0.3s ease; 
    max-width: 23rem;
    padding: 10px;
  }
  
  .itemContainer:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .itemContainer img {
    width: 100%; 
    display: block; 
  }
  
  .itemContainer .content {
    background-color: inherit; /* Add a background color */
    color: var(--color-gray-900); /* Set text color */
  }
  