.itemContainer {
    border: 1px solid #ccc; 
    border-radius: 8px;
    overflow: hidden; 
    transition: box-shadow 0.3s ease; 
    max-width: 23rem;
    padding: 10px;
    height: 100%;
  }
  
  .itemContainer:hover {
    opacity: 70%;
  }
  
  .itemContainer img {
    width: 100%; 
    display: block; 
    height: 18rem;
    border-radius: 5px;
  }
 
  .itemContainer .content {
    background-color: inherit; 
    color: var(--color-gray-600); 
  }
  
  .icon{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .itemContainer h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    margin-block: 15px;
    line-height: 35px;
    height: 70px;
    color: var(--color-gray-900);
  }
  